<h1><%=@word.title %></h1>


<img src="<%= @word.img %>" alt='picture of <%=@word.title %>' />
  <h3>Definitions listed below</h3>
  <ol id ="results">
    <% if @word.definitions.any? %>
      <% @word.definitions.each do |definition| %>
        <%= render "definitions/definition", definition: definition %>
      <%end%>
    <%end%>
  </ol>

<%= link_to "Add a new definition", new_user_word_definition_path(@user, @word), remote: true, id: "new_definition_link"%>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default"><%= link_to "Edit", edit_user_word_path %></button>
  <button type="button" class="btn btn-default"><%= link_to "Delete", user_word_path(@word), :data => {:confirm => "You sure?", :method => "delete"} %></button>
</div>
<hr>
<%= link_to "Return to list of words", user_words_path(current_user) %>
