<h1><%=@word.title %></h1>


<img src="<%= @word.img %>" alt='picture of <%=@word.title %>' />


<%= link_to "Edit", edit_word_path %>
<%= link_to "Delete", word_path(@word), :data => {:confirm => "You sure?",                             :method => "delete"} %>

<hr>
<%= link_to "Return to list of words", words_path %>
