<h1><%=@word.title %></h1>


<img src="<%= @word.img %>" alt='picture of <%=@word.title %>' />
<% if @word.definitions.any? %>
  <h3>Definitions listed below</h3>
  <ol>
    <% @word.definitions.each do |definition| %>
      <li>definition.content </li>
    <%end%>
  </ol>
  <%end%>

  
<%= link_to "Add a new definition", new_word_definition_path(@word) %>
<%= link_to "Edit", edit_word_path %>
<%= link_to "Delete", word_path(@word), :data => {:confirm => "You sure?",                             :method => "delete"} %>

<hr>
<%= link_to "Return to list of words", words_path %>
