<h1><%=@word.title %></h1>


<img src="<%= @word.img %>" alt='picture of <%=@word.title %>' />
<% if @word.definitions.any? %>
  <h3>Definitions listed below</h3>
  <ol>
    <% @word.definitions.each do |definition| %>
      <li> <%=link_to definition.content, word_definition_path(@word, definition) %></li>
    <%end%>
  </ol>
  <%end%>


<%= link_to "Add a new definition", new_word_definition_path(@word) %>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default"><%= link_to "Edit", edit_word_path %></button>
  <button type="button" class="btn btn-default"><%= link_to "Delete", word_path(@word), :data => {:confirm => "You sure?", :method => "delete"} %></button>
</div>
<hr>
<%= link_to "Return to list of words", words_path %>
