<!DOCTYPE html>
<html>
  <head>
    <title>TechFlashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="...">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Test <span class="sr-only">(current)</span></a></li>
            <li><%= link_to "Home", root_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Words', user_words_path(current_user)%></li>
              <li><%= link_to 'Add a new word', new_user_word_path(current_user)%></li>

            <%end%>
          </ul>

        <!--Right navbar Signed in as and Logout  -->
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class = 'pull-right'><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li class = 'pull-right'><%= link_to "Sign Up", new_user_registration_path %></li>
                <li class = 'pull-right'><%= link_to "Sign In", new_user_session_path %></li>
              <%end%>
            </ul>
            <% if user_signed_in? %>
              <p class="navbar-text navbar-right">Signed in as <%= link_to current_user.username, user_profile_path(current_user)%></p>
            <%end%>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
